{% extends 'visores/base.html' %}

{% load static %}

{% block title %} Visor {% endblock %}

{% block body %}

    class="d-flex flex-column flex-wrap vertical-center border-green "

{% endblock %}

{% block content %}

   <div class="header modulo-info d-md-inline-block text-center  px-3 w-100 shadow-sm  align-self-start text-white"  >
        <div class="row">
            <div class="col-5 col-sm-3 col-lg-2 text-center d-flex align-items-center bg-verde">
                <button  onclick="$(location).attr('href','{% url url_boton_volver %}');" type="button" class="btn btn-light rounded-pill box-shadow w-100">
                    <span><img src="{% static 'core/images/objetos/triangle-curved.svg' %}" width="18"></span> Volver
                </button>
            </div>
            <div class="col-7 col-sm-9 col-lg-10 bg-verde">
                <div class="barra-estado bg-white-75 rounded p-1 my-2 text-left">
                    <span class="px-2 align-middle d-inline-block"> Est&aacute;s en: <strong>{{nombre_actividad}}</strong></span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid d-flex flex-column justify-content-center flex-1 px-0 py-3">
        <div class="container">
        <!--
        <object type="text/html"  style="display:block;margin-left:auto;margin-right:auto;" data="http://{{Dominio}}/Ematpsusecur/sesionguiado/Rut/{{Rut}}/Alumno/{{Alumno}}/Actividad/{{nombre_actividad}}/id_alumno_actividad/{{id_alumno_actividad}}/tipo_visor/{{tipo_visor}}" width="800px" height="600px"></object>
        -->
            <script>
        window.location.href='http://{{Dominio}}/Ematpsusecur/sesionguiado/Rut/{{Rut}}/Alumno/{{Alumno}}/Actividad/{{nombre_actividad}}/id_alumno_actividad/{{id_alumno_actividad}}/tipo_visor/{{tipo_visor}}';
        </script>

        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'core/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'core/js/jquery-ui.js' %}"></script>
    <script src="{% static 'core/js/popper.min.js' %}" ></script>
    <script src="{% static 'core/js/bootstrap.min.js' %}" ></script>
    <script src="{% static 'visores/js/DjangoAjax.js' %}"></script>
   <script src="{% static 'visores/js/visorIntegracion.js' %}"></script>
{% endblock %}



