{% extends 'ggtutbas/base.html' %}
{% load static %}
{% block title %} {{variables.menuPlanificacion}} {% endblock %}
{% block nombreTutor %} {{fullName}} {% endblock %}
{% block nombreColegio %} {{nombreColegio}} {% endblock %}
{% if request.path == 'ggtutbas/descripcionAnual' %}

    {% block StyleClass %} active {% endblock %}
    {% block expanded %}true{% endblock %}
    {% block collapsed %} {% endblock %}
    {% block showMenu %} show {% endblock %}
    {% block contenidoActiva %} active text-black {% endblock %}

{% endif %}

{% block result %} {{variables.menuResultadosCurso}} {% endblock %}
{% block planOA %} {{variables.menuPlanificacion}} {% endblock %}

{% block titulo %}Planificación / {{variables.menuPlanificacion}} {% endblock %}

{% block content %}
<div style="height:100vh;">
 <object class="pdf" data="{% static 'ggtutbas/pdf/descripcion_contenidos/'%}{{nivel}}{{variables.cursoPdf}}.pdf" type="application/pdf" width="100%" height="83%">
    <embed src="{% static 'ggtutbas/pdf/descripcion_contenidos/'%}{{nivel}}{{variables.cursoPdf}}.pdf" type="application/pdf">
        <p>Este navegador no admite archivos PDF. Descargue el PDF para verlo: <a href="{% static 'ggtutbas/pdf/descripcion_contenidos/'%}{{nivel}}{{variables.cursoPdf}}.pdf">Descargar PDF</a>.</p>
    </embed>
</object>

</div>


{% endblock %}

{% block curso %} <div id="codigo-curso" style="display:none;">{{codLista}}</div>{% endblock %}



{% block extrascript %}
    <script src="{% static 'ggalbas/js/DjangoAjax.js' %}"></script>
    <script src="{% static 'ggtutbas/js/principal.js' %}"></script>
{% endblock %}