<!doctype html>
<html lang="es">
<head>
    <meta name="robots" content="noindex">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" maximum-scale=1.0; user-scalable=0;”>
        <title>{% block title %}{% endblock %} | EMAT </title>
    <!-- Bootstrap CSS -->
    {% load static %}
    <link href="{% static 'core/images/favicon_emat.png' %}" rel="icon" />
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'visorA2Tutor/css/style.css' %}">
</head>

<body {% block body %} {% endblock %} >

    {% block content %} {% endblock %}

    {% block modales %} {% endblock %}

    {% block javascript %} {% endblock %}

</body>
</html>